body {
    font-family:Arial;
    font-size:14pt;
    background-color:silver;
    height: 395px;
}
#header {
    height:80px;
    font-size:30pt;
    font-weight:bold;
    text-align:center;
    letter-spacing:5pt;
    color:white;
    background-color:#00994d;
}
h2{
    font-size:24pt;
    font-weight:bold;
    color:darkblue;
    margin-left: 680px;
    height: 49px;
    width: 475px;
    margin-left: 400px;
}